* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color:#3d5f00;
  --body-color:#f3f3f3;
  --white-color:#ffffff;
  --light-green:#608b14;
}


/* Base Styling */
a {
  text-decoration: none;
}
li {
  list-style: none;
}